## Data Manipulation module
### Homework assignment 2
Welcome to the second homework assignment of the data manipulation module. In this assignment you will be working with Pandas DataFrames. The goal of this assignment is to get you familiar with such dataframes in Python.

### Instructions
Read the exercises carefully and implement the requested functionality. Add your code in the cells provided with `YOUR CODE HERE` or `YOUR ANSWER HERE`. You can add cells if you need to.

### Hand-in
To hand in your assignment, fork this notebook and commit your changes, then make a pull request to the original repository. The deadline for handing in the assignment is **Wednesday 25-01 23:59**.

In [68]:
import pandas as pd
import numpy as np

Download the `weatherAUS.csv` file from the following [kaggle page](https://www.kaggle.com/datasets/jsphyg/weather-dataset-rattle-package). We load it in in the following cell, make sure to set the correct path. The rest of the assignment you will be using this dataframe!

In [69]:
df = pd.read_csv('weatherAUS.csv')
df.head(250)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,2009-08-03,Albury,8.3,13.8,0.8,NaN,NaN,NNW,37.0,W,...,79.0,49.0,1023.1,1022.9,NaN,NaN,9.9,13.6,No,No
246,2009-08-04,Albury,3.2,14.7,0.0,NaN,NaN,SSE,17.0,NaN,...,91.0,53.0,1021.7,1018.9,1.0,NaN,5.7,14.0,No,Yes
247,2009-08-05,Albury,5.7,13.8,5.4,NaN,NaN,NNE,19.0,ENE,...,98.0,76.0,1022.2,1020.2,8.0,8.0,8.9,13.6,Yes,No
248,2009-08-06,Albury,5.1,17.1,0.4,NaN,NaN,N,35.0,NaN,...,99.0,58.0,1021.9,1016.7,7.0,NaN,8.0,16.6,No,No
249,2009-08-07,Albury,8.0,13.9,0.8,NaN,NaN,WNW,57.0,WNW,...,79.0,47.0,1012.8,1015.6,8.0,8.0,9.8,13.7,No,Yes

1. Use the describe function to gain insight in the attributes of the dataframe. Analyze the info and create a short write-up according to your findings.

In [70]:
# YOUR CODE HERE

YOUR ANSWER HERE

2. Find the shape and the size of the dataset

In [71]:
print(df.shape)
df.size

(145460, 23)

3345580

3. Find the types of all columns and save the result as a dataframe with the column names as index. Call the column with the types 'dtypes'.

In [72]:
dtypes_series=df.dtypes
dtypes_df=pd.DataFrame(dtypes_series, columns=["dtypes"])
dtypes_df

                dtypes
Date            object
Location        object
MinTemp        float64
MaxTemp        float64
Rainfall       float64
Evaporation    float64
Sunshine       float64
WindGustDir     object
WindGustSpeed  float64
WindDir9am      object
WindDir3pm      object
WindSpeed9am   float64
WindSpeed3pm   float64
Humidity9am    float64
Humidity3pm    float64
Pressure9am    float64
Pressure3pm    float64
Cloud9am       float64
Cloud3pm       float64
Temp9am        float64
Temp3pm        float64
RainToday       object
RainTomorrow    object

4. Find the non-null counts of all columns and save the result as a dataframe with the column names as index. Call the column with the non-null counts 'counts'.

In [73]:
dtypes_series=df.notnull().sum()
dtypes_df2=pd.DataFrame(dtypes_series, columns=["counts"])
dtypes_df2

               counts
Date           145460
Location       145460
MinTemp        143975
MaxTemp        144199
Rainfall       142199
Evaporation     82670
Sunshine        75625
WindGustDir    135134
WindGustSpeed  135197
WindDir9am     134894
WindDir3pm     141232
WindSpeed9am   143693
WindSpeed3pm   142398
Humidity9am    142806
Humidity3pm    140953
Pressure9am    130395
Pressure3pm    130432
Cloud9am        89572
Cloud3pm        86102
Temp9am        143693
Temp3pm        141851
RainToday      142199
RainTomorrow   142193

5. Find the null counts of all columns and save the result as a dataframe with the column names as index. Call the column with the null counts 'null-counts'.

In [74]:
dtypes_series=df.isna().sum()
dtypes_df3=pd.DataFrame(dtypes_series, columns=["null-counts"])
dtypes_df3

               null-counts
Date                     0
Location                 0
MinTemp               1485
MaxTemp               1261
Rainfall              3261
Evaporation          62790
Sunshine             69835
WindGustDir          10326
WindGustSpeed        10263
WindDir9am           10566
WindDir3pm            4228
WindSpeed9am          1767
WindSpeed3pm          3062
Humidity9am           2654
Humidity3pm           4507
Pressure9am          15065
Pressure3pm          15028
Cloud9am             55888
Cloud3pm             59358
Temp9am               1767
Temp3pm               3609
RainToday             3261
RainTomorrow          3267

6. Find the number of unique values of all columns and save the result as a dataframe with the column names as index. Call the column with the unique counts 'unique-counts'.

In [75]:
a = df.nunique()
df3 = pd.DataFrame(a, columns=['Unique Values'])
df3

               Unique Values
Date                    3436
Location                  49
MinTemp                  389
MaxTemp                  505
Rainfall                 681
Evaporation              358
Sunshine                 145
WindGustDir               16
WindGustSpeed             67
WindDir9am                16
WindDir3pm                16
WindSpeed9am              43
WindSpeed3pm              44
Humidity9am              101
Humidity3pm              101
Pressure9am              546
Pressure3pm              549
Cloud9am                  10
Cloud3pm                  10
Temp9am                  441
Temp3pm                  502
RainToday                  2
RainTomorrow               2

7. Merge the dataframes you created exercise 3, 4, 5 and 6 into one dataframe with the column names as index and the columns 'dtypes', 'counts', 'null-counts' and 'unique-counts'.

In [76]:
merged_df=pd.concat([dtypes_df,dtypes_df2,dtypes_df3,df3],axis=1)
merged_df

                dtypes  counts  null-counts  Unique Values
Date            object  145460            0           3436
Location        object  145460            0             49
MinTemp        float64  143975         1485            389
MaxTemp        float64  144199         1261            505
Rainfall       float64  142199         3261            681
Evaporation    float64   82670        62790            358
Sunshine       float64   75625        69835            145
WindGustDir     object  135134        10326             16
WindGustSpeed  float64  135197        10263             67
WindDir9am      object  134894        10566             16
WindDir3pm      object  141232         4228             16
WindSpeed9am   float64  143693         1767             43
WindSpeed3pm   float64  142398         3062             44
Humidity9am    float64  142806         2654            101
Humidity3pm    float64  140953         4507            101
Pressure9am    float64  130395        15065            546
Pressure3pm    float64  130432        15028            549
Cloud9am       float64   89572        55888             10
Cloud3pm       float64   86102        59358             10
Temp9am        float64  143693         1767            441
Temp3pm        float64  141851         3609            502
RainToday       object  142199         3261              2
RainTomorrow    object  142193         3267              2

8. Lowercase all column names of the dataframe.

In [77]:
df_new=df.copy()
df_new.columns = df.columns.str.lower()
df_new.columns

Index(['date', 'location', 'mintemp', 'maxtemp', 'rainfall', 'evaporation',
       'sunshine', 'windgustdir', 'windgustspeed', 'winddir9am', 'winddir3pm',
       'windspeed9am', 'windspeed3pm', 'humidity9am', 'humidity3pm',
       'pressure9am', 'pressure3pm', 'cloud9am', 'cloud3pm', 'temp9am',
       'temp3pm', 'raintoday', 'raintomorrow'],
      dtype='object')

9. Change all the "No" strings to "NoRain" and all the "Yes" strings to "Rain" in the raintoday and raintomorrow column.

In [78]:
df5=df_new.copy()
print(df_new[['raintoday','raintomorrow']])
df5[['raintoday','raintomorrow']]=df5[['raintoday','raintomorrow']].replace({"No": "NoRain", "Yes": "Rain"})

df5[['raintoday','raintomorrow']]

       raintoday raintomorrow
0             No           No
1             No           No
2             No           No
3             No           No
4             No           No
...          ...          ...
145455        No           No
145456        No           No
145457        No           No
145458        No           No
145459        No          NaN

[145460 rows x 2 columns]

       raintoday raintomorrow
0         NoRain       NoRain
1         NoRain       NoRain
2         NoRain       NoRain
3         NoRain       NoRain
4         NoRain       NoRain
...          ...          ...
145455    NoRain       NoRain
145456    NoRain       NoRain
145457    NoRain       NoRain
145458    NoRain       NoRain
145459    NoRain          NaN

[145460 rows x 2 columns]

10. Change the datatype of the "date" column to datetime64 and reformat the date as DD/MM/YYYY.
Hint: use `to_datetime` and `strftime`.

In [80]:
# YOUR CODE HERE

11. Create a new column with the difference between the maxtemp and mintemp columns for each row. Call this column tempdiff.

In [81]:
df['tempdiff'] = df['MaxTemp'] - df['MinTemp']
df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,tempdiff
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No,9.5
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No,17.7
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No,12.8
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No,18.8
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No,14.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No,20.6
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No,21.7
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No,21.5
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No,19.2
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN,NaN

12. Remove the evaporation and sunshine columns from the dataframe.

In [82]:
df.drop(columns=["Evaporation","Sunshine"],inplace=True)
df

,Date,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,tempdiff
0,2008-12-01,Albury,13.4,22.9,0.6,W,44.0,W,WNW,20.0,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No,9.5
1,2008-12-02,Albury,7.4,25.1,0.0,WNW,44.0,NNW,WSW,4.0,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No,17.7
2,2008-12-03,Albury,12.9,25.7,0.0,WSW,46.0,W,WSW,19.0,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No,12.8
3,2008-12-04,Albury,9.2,28.0,0.0,NE,24.0,SE,E,11.0,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No,18.8
4,2008-12-05,Albury,17.5,32.3,1.0,W,41.0,ENE,NW,7.0,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No,14.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,E,31.0,SE,ENE,13.0,...,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No,20.6
145456,2017-06-22,Uluru,3.6,25.3,0.0,NNW,22.0,SE,N,13.0,...,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No,21.7
145457,2017-06-23,Uluru,5.4,26.9,0.0,N,37.0,SE,WNW,9.0,...,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No,21.5
145458,2017-06-24,Uluru,7.8,27.0,0.0,SE,28.0,SSE,N,13.0,...,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No,19.2
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,ESE,ESE,17.0,...,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN,NaN

13. Find the most rainy day for each city

In [94]:
most_rainy_day = df.loc[df.groupby(['Location'])['Rainfall'].idxmax()]
most_rainy_day

,Date,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,tempdiff
98285,2014-02-14,Adelaide,20.6,24.5,75.2,NE,26.0,NE,ENE,11.0,...,86.0,1003.2,998.8,NaN,NaN,22.0,23.2,Yes,Yes,3.9
109820,2012-06-02,Albany,13.0,20.7,49.4,NaN,NaN,ENE,E,2.0,...,55.0,1022.3,1021.3,7.0,5.0,15.8,19.9,Yes,No,7.7
1156,2012-03-01,Albury,17.1,20.9,104.2,SE,57.0,N,SE,7.0,...,88.0,1002.0,1001.9,8.0,8.0,19.5,18.5,Yes,Yes,3.8
136525,2010-02-28,AliceSprings,18.8,19.8,62.0,SE,61.0,SE,SE,30.0,...,95.0,1004.8,1003.2,8.0,8.0,18.9,19.3,Yes,Yes,1.0
4468,2013-01-29,BadgerysCreek,18.3,28.1,116.0,WSW,37.0,W,E,7.0,...,75.0,1001.5,1004.4,NaN,NaN,22.3,24.9,Yes,No,9.8
55876,2011-01-14,Ballarat,15.8,25.5,95.0,NaN,NaN,WSW,W,13.0,...,69.0,1002.7,NaN,8.0,NaN,16.0,23.5,Yes,NaN,9.7
58938,2011-02-05,Bendigo,20.7,21.3,66.4,N,50.0,W,NW,22.0,...,94.0,1006.1,1007.0,8.0,8.0,21.2,17.3,Yes,Yes,0.6
86414,2015-05-02,Brisbane,16.6,24.9,182.6,SSW,19.0,WNW,WSW,6.0,...,58.0,1013.0,1010.0,1.0,1.0,19.8,24.4,Yes,No,8.3
87242,2009-01-12,Cairns,22.3,27.4,278.4,NW,59.0,SSE,NNW,17.0,...,98.0,1003.5,999.6,8.0,8.0,24.7,25.3,Yes,Yes,5.1
46715,2010-12-03,Canberra,13.4,22.4,87.0,W,39.0,S,NE,6.0,...,76.0,1017.4,1014.5,7.0,7.0,16.1,20.1,Yes,Yes,9.0
7832,2014-02-16,Cobar,21.4,28.6,68.0,SW,44.0,S,S,13.0,...,62.0,1002.6,1003.0,8.0,6.0,21.6,26.3,Yes,Yes,7.2
9368,2009-11-07,CoffsHarbour,17.4,23.1,371.0,NaN,NaN,SW,S,13.0,...,81.0,1026.6,1025.9,8.0,5.0,18.6,22.0,Yes,Yes,5.7
81741,2011-01-14,Dartmoor,16.2,24.4,73.6,W,44.0,NNW,WNW,13.0,...,64.0,1003.1,1003.8,NaN,NaN,17.4,23.2,Yes,No,8.2
140071,2011-02-16,Darwin,22.1,25.6,367.6,WSW,83.0,SSE,WSW,20.0,...,98.0,996.3,996.0,8.0,8.0,24.3,23.5,Yes,Yes,3.5
91455,2012-04-29,GoldCoast,17.2,24.4,183.4,S,56.0,S,S,35.0,...,67.0,1014.2,1015.0,NaN,NaN,22.0,21.9,Yes,No,7.2
132137,2015-01-14,Hobart,17.0,19.3,71.6,SSW,61.0,SSE,SSW,17.0,...,90.0,991.9,991.2,7.0,8.0,18.4,17.9,Yes,Yes,2.3
143335,2015-12-27,Katherine,22.5,26.5,167.0,W,52.0,WSW,SW,24.0,...,NaN,1003.6,1002.9,8.0,NaN,25.0,NaN,Yes,Yes,4.0
135557,2016-01-29,Launceston,17.2,23.6,88.0,SE,46.0,SSE,SSE,9.0,...,89.0,NaN,NaN,8.0,8.0,19.9,20.2,Yes,Yes,6.4
68151,2011-02-07,Melbourne,10.8,21.5,82.2,S,37.0,WSW,S,9.0,...,45.0,1026.0,1024.2,3.0,1.0,15.0,20.2,Yes,Yes,10.7
65714,2013-06-01,MelbourneAirport,12.8,15.1,75.8,S,31.0,N,SSW,13.0,...,90.0,1013.1,1011.1,8.0,7.0,13.2,14.9,Yes,Yes,2.3
71158,2011-02-05,Mildura,22.9,23.2,155.0,N,28.0,WNW,SSW,9.0,...,97.0,1009.1,1009.4,8.0,8.0,23.2,19.4,Yes,Yes,0.3
13096,2011-11-26,Moree,19.5,27.5,113.0,NW,39.0,WNW,N,15.0,...,58.0,1012.1,1009.4,7.0,6.0,21.5,26.0,Yes,No,8.0
100287,2011-01-14,MountGambier,15.8,23.1,84.6,W,41.0,NNW,W,15.0,...,67.0,1003.5,1004.7,8.0,4.0,16.9,21.8,Yes,No,7.3
53221,2012-03-04,MountGinini,5.8,14.8,107.6,N,72.0,NNW,W,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Yes,9.0
17321,2015-04-23,Newcastle,NaN,21.7,240.0,NaN,NaN,NW,NaN,4.0,...,62.0,NaN,NaN,6.0,6.0,17.5,21.0,Yes,No,NaN
73505,2013-06-12,Nhil,10.1,11.9,65.6,SE,54.0,SE,S,30.0,...,91.0,1010.3,1008.2,NaN,NaN,10.8,10.9,Yes,Yes,1.8
19661,2013-06-24,NorahHead,10.2,15.6,126.4,SE,46.0,SSW,E,7.0,...,76.0,1022.1,1017.5,NaN,NaN,10.7,14.2,Yes,No,5.4
23667,2016-03-22,NorfolkIsland,19.5,25.5,156.8,NE,31.0,NW,SW,17.0,...,79.0,1005.6,1004.5,6.0,6.0,23.8,24.9,Yes,No,6.0
103259,2010-12-08,Nuriootpa,16.1,22.0,76.6,WSW,44.0,W,W,19.0,...,64.0,1005.0,1005.6,8.0,7.0,16.2,20.5,Yes,No,5.9
115660,2011-12-07,PearceRAAF,17.6,28.3,62.4,SSW,39.0,NE,SW,15.0,...,50.0,1003.1,1001.1,4.0,5.0,22.8,25.3,Yes,No,10.7
25263,2012-02-10,Penrith,18.4,26.4,115.4,S,26.0,E,N,4.0,...,81.0,NaN,NaN,NaN,NaN,19.7,23.2,Yes,No,8.0
123695,2017-02-10,Perth,14.8,22.4,114.4,SE,41.0,SE,SE,19.0,...,94.0,1007.5,1007.2,8.0,8.0,16.5,19.3,Yes,Yes,7.6
118185,2010-07-11,PerthAirport,9.7,19.0,76.6,NW,63.0,N,WNW,22.0,...,60.0,1015.2,1010.9,7.0,7.0,12.2,18.3,Yes,No,9.3
75723,2011-01-14,Portland,15.6,20.6,72.0,NW,52.0,WNW,W,24.0,...,79.0,1002.3,1004.1,8.0,6.0,16.8,19.8,Yes,No,5.0
29379,2015-04-21,Richmond,12.6,16.1,113.4,SSW,50.0,SSW,SSW,26.0,...,88.0,1020.1,1018.6,8.0,7.0,13.4,13.5,Yes,Yes,3.5
63259,2014-12-07,Sale,13.8,19.1,55.6,S,63.0,S,SE,31.0,...,91.0,1008.7,1002.5,8.0,6.0,13.9,17.7,Yes,Yes,5.3
125255,2013-03-02,SalmonGums,15.0,21.1,55.4,SE,39.0,ESE,NW,13.0,...,80.0,NaN,NaN,NaN,NaN,17.6,20.4,Yes,No,6.1
32723,2015-04-21,Sydney,14.5,17.7,119.4,SSE,87.0,SSE,S,54.0,...,96.0,1019.6,1016.8,8.0,8.0,14.9,14.6,Yes,Yes,3.2
35544,2014-10-15,SydneyAirport,9.9,16.4,106.8,SSW,102.0,SW,SW,48.0,...,54.0,1011.9,1013.5,8.0,7.0,12.0,14.8,Yes,No,6.5
93344,2009-02-03,Townsville,22.8,25.4,236.8,ESE,48.0,ESE,SE,22.0,...,95.0,1003.8,1000.6,8.0,8.0,23.8,25.0,Yes,Yes,2.6
49761,2010-12-09,Tuggeranong,18.5,26.9,93.0,N,31.0,N,NNW,15.0,...,65.0,1009.0,1007.1,NaN,NaN,20.9,25.4,Yes,Yes,8.4
145278,2016-12-26,Uluru,22.1,27.4,83.8,ENE,72.0,N,NNW,31.0,...,100.0,994.6,989.2,8.0,8.0,22.2,24.2,Yes,Yes,5.3
36960,2010-03-08,WaggaWagga,18.8,25.6,110.8,NW,52.0,ENE,NW,9.0,...,41.0,1009.2,1008.6,3.0,4.0,20.4,25.2,Yes,No,6.8
128046,2012-06-01,Walpole,12.4,14.6,93.2,SE,59.0,SE,SE,31.0,...,93.0,1022.9,1022.5,NaN,NaN,14.1,13.6,Yes,Yes,2.2
79512,2013-06-01,Watsonia,13.1,14.7,87.4,S,22.0,NaN,SSW,0.0,...,100.0,1013.4,1010.9,8.0,7.0,NaN,14.4,Yes,Yes,1.6
42010,2016-01-06,Williamtown,18.5,19.9,225.0,S,80.0,SSW,SSW,39.0,...,90.0,1008.5,1008.8,8.0,8.0,19.2,19.4,Yes,Yes,1.4
113178,2013-07-15,Witchcliffe,15.7,18.3,99.4,NW,48.0,NW,WNW,15.0,...,73.0,1012.0,1011.1,NaN,NaN,15.8,17.7,Yes,Yes,2.6
44916,2015-08-25,Wollongong,12.2,15.9,192.0,SE,87.0,SW,W,46.0,...,83.0,1012.5,1012.1,8.0,8.0,13.6,13.5,Yes,Yes,3.7
107673,2015-01-10,Woomera,18.0,24.0,66.4,SSE,50.0,S,SSE,30.0,...,73.0,1004.7,1003.3,8.0,8.0,18.6,23.2,Yes,No,6.0

14. Filter out all data for the city Albury and then sort the resulting dataframe in ascending order based on the maxtemp column

In [98]:

df_Albury = df[df['Location'] == "Albury"]
df_Albury=df_Albury.sort_values(by='MaxTemp',ascending=True)
df_Albury

,Date,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,tempdiff
2328,2015-07-15,Albury,4.4,6.8,10.0,NE,30.0,S,SSE,13.0,...,93.0,1016.6,1017.1,8.0,8.0,4.7,6.4,Yes,Yes,2.4
2675,2016-06-26,Albury,-1.3,7.5,0.0,ENE,15.0,NaN,SE,0.0,...,79.0,1023.4,1019.0,8.0,NaN,2.3,7.4,No,No,8.8
193,2009-06-12,Albury,-1.3,8.2,0.0,ESE,15.0,E,SSE,6.0,...,72.0,1025.7,1022.2,8.0,7.0,1.9,7.9,No,No,9.5
2673,2016-06-24,Albury,6.6,8.2,4.0,W,48.0,WNW,W,28.0,...,85.0,1004.8,1007.6,8.0,6.0,7.0,7.5,Yes,Yes,1.6
919,2011-07-08,Albury,-0.5,8.3,0.0,WNW,28.0,NaN,W,0.0,...,64.0,1026.0,1024.7,NaN,8.0,4.3,8.0,No,Yes,8.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
984,2011-09-11,Albury,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985,2011-09-12,Albury,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1529,2013-05-07,Albury,3.9,NaN,0.0,NaN,NaN,NaN,NaN,0.0,...,NaN,1028.6,NaN,NaN,NaN,9.8,NaN,No,NaN,NaN
2031,2014-09-21,Albury,3.4,NaN,0.0,NaN,NaN,ESE,SSE,9.0,...,43.0,1030.6,1027.5,NaN,NaN,12.2,18.6,No,NaN,NaN
2032,2014-09-22,Albury,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

15. Remove all rows with missing values in the windgustdir column

In [101]:
df_new.dropna(subset=['windgustdir'], inplace=True)
print(df_new['windgustdir'].isna().sum())

0

In [ ]:
# YOUR CODE HERE

16. Find the hottest day of "Perth"

In [103]:
Perth = df[df['Location'] == "Perth"]
item_id=Perth["MaxTemp"].idxmax()
Perth_hd=Perth.loc[item_id]
Perth_hd

Date             2015-01-05
Location              Perth
MinTemp                23.2
MaxTemp                44.4
Rainfall                0.0
WindGustDir              NE
WindGustSpeed          37.0
WindDir9am               NE
WindDir3pm               SW
WindSpeed9am           17.0
WindSpeed3pm           17.0
Humidity9am            30.0
Humidity3pm            23.0
Pressure9am          1008.5
Pressure3pm          1005.5
Cloud9am                0.0
Cloud3pm                2.0
Temp9am                33.9
Temp3pm                39.5
RainToday                No
RainTomorrow             No
tempdiff               21.2
Name: 122928, dtype: object

17. Group your dataframe by location and find the average of all numerical columns per location.

In [108]:
df10=df.groupby(['Location']).mean(numeric_only=True)
df10

,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,tempdiff
Location,,,,,,,,,,,,,,,
Adelaide,12.579505,22.898934,1.566354,36.499211,9.950125,15.471455,59.701066,44.828105,1018.764082,1016.803264,NaN,NaN,16.929046,21.557447,10.319599
Albany,12.948438,20.070998,2.263859,NaN,12.503189,18.993498,74.805416,67.407917,1018.275721,1016.497280,5.191539,4.808072,16.236455,18.411555,7.087363
Albury,9.530604,22.640872,1.914115,32.977394,8.211151,14.382965,74.070604,47.869393,1018.369621,1015.760752,6.391001,5.406447,14.361135,21.373780,13.112082
AliceSprings,13.142284,29.248420,0.882850,40.531281,14.727452,18.101053,39.690155,24.131466,1016.684732,1012.871913,2.845898,3.251213,21.335658,28.010764,16.107277
BadgerysCreek,11.131719,24.031208,2.193101,33.600409,8.051351,14.005404,76.895770,51.381855,1018.461598,1015.635120,NaN,NaN,16.571698,22.522698,12.892686
Ballarat,7.367950,18.287266,1.740026,44.982719,19.976913,22.766798,81.817820,59.030992,1017.845093,1016.271201,5.797915,6.285643,11.672457,16.788365,10.916294
Bendigo,8.593713,21.621746,1.619380,38.850000,12.936100,17.159091,70.545664,46.474325,1018.026281,1015.873135,4.400097,4.855379,13.845275,20.249737,13.024687
Brisbane,16.423807,26.448380,3.144891,28.212881,6.944236,10.998744,64.043587,53.912209,1018.232989,1015.099278,3.918546,3.879975,21.841173,24.753461,10.023518
Cairns,21.220467,29.558849,5.742035,38.031436,15.902929,21.911813,69.936821,61.751645,1014.151333,1011.099441,4.560184,4.445196,25.820105,27.909112,8.339487
Canberra,6.821866,20.976639,1.741720,40.064214,10.407546,19.127918,73.218500,45.825350,1018.986480,1016.236299,4.870981,4.784630,12.677297,19.472878,14.139061
Cobar,13.149451,25.870093,1.127309,36.750590,14.655749,15.144478,55.152913,33.870666,1017.971937,1015.304325,3.303918,3.859682,18.119160,24.545203,12.728039
CoffsHarbour,14.437108,23.965385,5.061497,39.227925,15.280870,21.201916,67.938127,62.351858,1018.215308,1015.829292,4.326958,4.501121,20.170942,22.343873,9.532307
Dartmoor,8.620034,19.697454,2.146567,38.898299,10.822970,17.946010,85.217907,62.456537,1018.002479,1016.509885,NaN,NaN,12.588893,18.182139,11.062823
Darwin,23.209305,32.540977,5.092452,40.582355,15.009088,20.831401,68.486216,51.827954,1011.888784,1008.349107,4.337093,4.310345,27.185625,31.082733,9.331087
GoldCoast,17.363286,25.767062,3.769396,42.476370,19.349667,25.861416,66.327495,62.980515,1017.922113,1015.214643,NaN,NaN,22.375847,23.771603,8.405741
Hobart,9.078578,17.865727,1.601819,47.530915,16.307861,19.813225,65.622055,52.944654,1014.531297,1012.961873,4.839901,4.959012,12.462406,16.172955,8.786466
Katherine,20.553564,34.935436,3.201090,38.771465,12.134432,15.772901,63.790247,42.761456,1012.791122,1008.486078,2.579701,3.186183,26.649544,33.546604,14.405819
Launceston,7.836190,18.954911,2.011988,35.634852,8.447117,15.562892,79.500000,57.322442,1015.679279,1013.754213,6.306207,5.718329,12.026269,17.687294,11.117360
Melbourne,11.779174,20.769358,1.870062,45.610255,19.128800,22.097401,67.545555,51.180710,1017.634427,1015.778450,5.314034,5.336368,14.596091,19.264489,8.992330
MelbourneAirport,9.973945,20.491858,1.451977,46.919172,20.278923,23.081422,70.115961,51.171333,1018.087670,1016.279096,5.246261,5.263298,14.124925,18.952077,10.517913
Mildura,10.731572,24.840944,0.945062,37.168775,14.001663,16.694814,64.103792,35.402329,1018.771481,1016.262654,3.382906,3.918909,15.528291,23.427726,14.109372
Moree,12.905853,26.950548,1.630203,39.890177,18.129043,16.847372,61.376705,35.808589,1018.312429,1014.928624,3.365844,3.981958,18.867132,25.651113,14.041104
MountGambier,8.825477,19.828995,2.087562,42.866466,17.528868,22.433993,75.492734,57.329043,1017.937656,1016.375848,5.520478,5.478840,13.784858,18.176277,11.003757
MountGinini,3.577280,11.663676,3.292260,46.253951,15.991844,15.232377,77.146697,69.722609,NaN,NaN,NaN,NaN,6.815185,10.209180,8.124110
Newcastle,13.760007,24.101070,3.183892,NaN,5.978448,10.614354,74.061429,57.362684,NaN,NaN,4.128306,4.311491,18.119251,22.325534,10.413006
Nhil,8.999809,22.405153,0.934863,42.542438,16.457088,20.948506,73.042594,44.919263,1018.537063,1016.395868,NaN,NaN,13.382708,20.871837,13.403753
NorahHead,15.355481,22.588937,3.387299,42.183051,13.930837,21.027937,74.590756,67.521198,1018.258148,1016.013331,NaN,NaN,18.467611,20.764211,7.230637
NorfolkIsland,16.871875,21.830253,3.127665,42.607420,20.173609,21.890921,70.781292,67.836714,1017.597501,1015.856801,5.021067,4.849729,19.783822,20.470070,4.960559
Nuriootpa,9.363242,21.704133,1.390343,40.672269,14.242891,18.171304,66.760253,45.425567,1018.910959,1016.790003,4.679389,4.877679,14.852064,20.305663,12.356741
PearceRAAF,12.303850,26.051238,1.669080,43.579958,16.029107,20.297352,60.823352,42.079142,1017.635609,1015.096075,3.846389,4.031366,18.832230,24.497083,13.720323
Penrith,12.577449,24.764366,2.175304,31.807330,6.357262,11.990391,75.822630,49.098990,NaN,NaN,NaN,NaN,16.984267,23.354091,12.195268
Perth,12.922706,25.034837,1.906295,34.882999,10.693392,14.519737,62.688128,46.906122,1017.784398,1015.420457,3.383579,3.469740,18.573598,23.461748,12.110620
PerthAirport,12.580359,25.533234,1.761648,44.201822,17.753575,21.268285,58.775673,41.923205,1017.890323,1015.366789,3.371467,3.444260,18.773480,24.086935,12.952875
Portland,9.586867,18.055053,2.530374,42.059852,16.329564,20.787828,78.711149,65.991656,1017.684084,1016.624041,6.338082,6.066667,13.195745,16.504204,8.467389
Richmond,11.364202,24.458664,2.138462,34.866283,7.005732,14.849596,76.897627,49.000000,1018.696812,1015.640753,6.246281,5.510309,16.566015,23.128682,13.083624
Sale,8.567420,20.282281,1.510167,42.479777,14.306489,22.265979,78.918729,56.353707,1017.815492,1015.889212,5.345907,5.094383,13.416628,18.782646,11.710708
SalmonGums,9.313007,24.250827,1.034382,39.748372,16.298192,17.302286,62.806408,40.751771,NaN,NaN,NaN,NaN,17.046610,22.661518,14.955149
Sydney,14.866826,23.001975,3.324543,41.757589,15.075347,19.324797,68.221989,54.694386,1018.343906,1016.018163,4.180115,4.218626,17.821923,21.533473,8.136688
SydneyAirport,14.901729,23.383915,3.009917,47.234280,18.594145,25.769614,64.834719,53.904825,1018.361213,1015.972854,4.280532,4.278498,18.544880,21.780352,8.480785
Townsville,20.417874,29.367160,3.485592,38.840570,15.227452,24.251728,63.954276,57.400987,1015.165493,1011.905691,4.300070,4.012667,25.634967,27.769934,8.946954
Tuggeranong,7.242133,20.767545,2.164043,35.215883,7.653183,14.894667,72.827095,47.185724,1018.505622,1015.655680,NaN,NaN,12.573899,19.422472,13.530059
Uluru,14.466688,30.383195,0.784363,41.268373,17.616732,17.028424,42.664107,24.127700,1017.101403,1013.307751,5.543103,4.834532,21.012348,29.054511,15.934958
WaggaWagga,9.617182,23.031871,1.709946,36.648105,12.855766,16.218085,67.856953,42.586574,1018.510037,1015.859854,3.854989,4.194993,14.925457,21.749950,13.414689
Walpole,11.806631,20.459184,2.906846,39.818836,13.915910,17.227410,76.119266,66.316022,1017.878811,1016.237047,NaN,NaN,15.926158,18.560134,8.655992
Watsonia,10.131879,20.896078,1.860820,38.059219,9.910239,15.183843,78.383973,54.708873,1018.030229,1016.085045,5.246261,5.263298,13.766010,19.395181,10.751299
Williamtown,12.780180,24.001065,3.591108,41.677801,16.474599,22.237921,71.773742,53.937708,1018.436370,1015.919746,4.700042,4.484322,18.079694,22.499435,11.229194
Witchcliffe,10.775067,21.686247,2.895664,40.085013,13.966367,19.164616,71.364753,57.780180,1018.395130,1016.732974,NaN,NaN,16.542895,19.810376,10.900668
Wollongong,14.939471,21.468174,3.594903,45.690842,16.618351,21.926270,67.661906,65.128571,1018.149331,1016.055809,6.222305,5.855328,18.190203,19.934872,6.526945
Woomera,13.363727,26.596707,0.490405,44.156566,20.002662,20.605728,53.127503,28.402414,1018.632655,1015.969917,2.518027,2.891489,17.924701,25.201896,13.221885