## Data Manipulation module
### Homework assignment 2
Welcome to the second homework assignment of the data manipulation module. In this assignment you will be working with Pandas DataFrames. The goal of this assignment is to get you familiar with such dataframes in Python.

### Instructions
Read the exercises carefully and implement the requested functionality. Add your code in the cells provided with `YOUR CODE HERE` or `YOUR ANSWER HERE`. You can add cells if you need to.

### Hand-in
To hand in your assignment, fork this notebook and commit your changes, then make a pull request to the original repository. The deadline for handing in the assignment is **Wednesday 25-01 23:59**.

In [61]:
import pandas as pd
import numpy as np

Download the `weatherAUS.csv` file from the following [kaggle page](https://www.kaggle.com/datasets/jsphyg/weather-dataset-rattle-package). We load it in in the following cell, make sure to set the correct path. The rest of the assignment you will be using this dataframe!

In [114]:
df = pd.read_csv('D:\codes\Class7-DataManipulation-Module-Week18\weatherAUS.csv\weatherAUS.csv')
df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

1. Use the describe function to gain insight in the attributes of the dataframe. Analyze the info and create a short write-up according to your findings.

In [63]:
# YOUR CODE HERE
df.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
count,143975.000000,144199.000000,142199.000000,82670.000000,75625.000000,135197.000000,143693.000000,142398.000000,142806.000000,140953.000000,130395.00000,130432.000000,89572.000000,86102.000000,143693.000000,141851.00000
mean,12.194034,23.221348,2.360918,5.468232,7.611178,40.035230,14.043426,18.662657,68.880831,51.539116,1017.64994,1015.255889,4.447461,4.509930,16.990631,21.68339
std,6.398495,7.119049,8.478060,4.193704,3.785483,13.607062,8.915375,8.809800,19.029164,20.795902,7.10653,7.037414,2.887159,2.720357,6.488753,6.93665
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.50000,977.100000,0.000000,0.000000,-7.200000,-5.40000
25%,7.600000,17.900000,0.000000,2.600000,4.800000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.90000,1010.400000,1.000000,2.000000,12.300000,16.60000
50%,12.000000,22.600000,0.000000,4.800000,8.400000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.60000,1015.200000,5.000000,5.000000,16.700000,21.10000
75%,16.900000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.40000,1020.000000,7.000000,7.000000,21.600000,26.40000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.00000,1039.600000,9.000000,9.000000,40.200000,46.70000

YOUR ANSWER HERE

2. Find the shape and the size of the dataset

In [64]:
# YOUR CODE HERE
df.shape

(145460, 23)

In [65]:
df.size

3345580

3. Find the types of all columns and save the result as a dataframe with the column names as index. Call the column with the types 'dtypes'.

In [66]:
# YOUR CODE HERE
df_type = pd.DataFrame(df.dtypes, columns=["dtypes"])
df_type

                dtypes
Date            object
Location        object
MinTemp        float64
MaxTemp        float64
Rainfall       float64
Evaporation    float64
Sunshine       float64
WindGustDir     object
WindGustSpeed  float64
WindDir9am      object
WindDir3pm      object
WindSpeed9am   float64
WindSpeed3pm   float64
Humidity9am    float64
Humidity3pm    float64
Pressure9am    float64
Pressure3pm    float64
Cloud9am       float64
Cloud3pm       float64
Temp9am        float64
Temp3pm        float64
RainToday       object
RainTomorrow    object

4. Find the non-null counts of all columns and save the result as a dataframe with the column names as index. Call the column with the non-null counts 'counts'.

In [67]:
# YOUR CODE HERE
non_null_counts = pd.DataFrame(df.notna().sum(), columns=['counts'])
non_null_counts

               counts
Date           145460
Location       145460
MinTemp        143975
MaxTemp        144199
Rainfall       142199
Evaporation     82670
Sunshine        75625
WindGustDir    135134
WindGustSpeed  135197
WindDir9am     134894
WindDir3pm     141232
WindSpeed9am   143693
WindSpeed3pm   142398
Humidity9am    142806
Humidity3pm    140953
Pressure9am    130395
Pressure3pm    130432
Cloud9am        89572
Cloud3pm        86102
Temp9am        143693
Temp3pm        141851
RainToday      142199
RainTomorrow   142193

5. Find the null counts of all columns and save the result as a dataframe with the column names as index. Call the column with the null counts 'null-counts'.

In [68]:
# YOUR CODE HERE
null_counts = pd.DataFrame(df.isna().sum(), columns=['null-counts'])
null_counts

               null-counts
Date                     0
Location                 0
MinTemp               1485
MaxTemp               1261
Rainfall              3261
Evaporation          62790
Sunshine             69835
WindGustDir          10326
WindGustSpeed        10263
WindDir9am           10566
WindDir3pm            4228
WindSpeed9am          1767
WindSpeed3pm          3062
Humidity9am           2654
Humidity3pm           4507
Pressure9am          15065
Pressure3pm          15028
Cloud9am             55888
Cloud3pm             59358
Temp9am               1767
Temp3pm               3609
RainToday             3261
RainTomorrow          3267

6. Find the number of unique values of all columns and save the result as a dataframe with the column names as index. Call the column with the unique counts 'unique-counts'.

In [69]:
# YOUR CODE HERE
unique = pd.DataFrame(df.nunique(), columns=['unique-counts'])
unique

               unique-counts
Date                    3436
Location                  49
MinTemp                  389
MaxTemp                  505
Rainfall                 681
Evaporation              358
Sunshine                 145
WindGustDir               16
WindGustSpeed             67
WindDir9am                16
WindDir3pm                16
WindSpeed9am              43
WindSpeed3pm              44
Humidity9am              101
Humidity3pm              101
Pressure9am              546
Pressure3pm              549
Cloud9am                  10
Cloud3pm                  10
Temp9am                  441
Temp3pm                  502
RainToday                  2
RainTomorrow               2

7. Merge the dataframes you created exercise 3, 4, 5 and 6 into one dataframe with the column names as index and the columns 'dtypes', 'counts', 'null-counts' and 'unique-counts'.

In [70]:
# YOUR CODE HERE
combined = pd.concat([df_type, non_null_counts, null_counts, unique], axis=0)

combined

               dtypes  counts  null-counts  unique-counts
Date           object     NaN          NaN            NaN
Location       object     NaN          NaN            NaN
MinTemp       float64     NaN          NaN            NaN
MaxTemp       float64     NaN          NaN            NaN
Rainfall      float64     NaN          NaN            NaN
...               ...     ...          ...            ...
Cloud3pm          NaN     NaN          NaN           10.0
Temp9am           NaN     NaN          NaN          441.0
Temp3pm           NaN     NaN          NaN          502.0
RainToday         NaN     NaN          NaN            2.0
RainTomorrow      NaN     NaN          NaN            2.0

[92 rows x 4 columns]

8. Lowercase all column names of the dataframe.

In [71]:
# YOUR CODE HERE
df_new = df.copy()
df_new.columns = df.columns.str.lower()
df_new.columns

Index(['date', 'location', 'mintemp', 'maxtemp', 'rainfall', 'evaporation',
       'sunshine', 'windgustdir', 'windgustspeed', 'winddir9am', 'winddir3pm',
       'windspeed9am', 'windspeed3pm', 'humidity9am', 'humidity3pm',
       'pressure9am', 'pressure3pm', 'cloud9am', 'cloud3pm', 'temp9am',
       'temp3pm', 'raintoday', 'raintomorrow'],
      dtype='object')

9. Change all the "No" strings to "NoRain" and all the "Yes" strings to "Rain" in the raintoday and raintomorrow column.

In [72]:
# YOUR CODE HERE
df_new[['raintoday', 'raintomorrow']] = df_new[['raintoday', 'raintomorrow']].replace({"No": "NoRain", "Yes": "Rain"})
df_new.head()

,date,location,mintemp,maxtemp,rainfall,evaporation,sunshine,windgustdir,windgustspeed,winddir9am,...,humidity9am,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,raintoday,raintomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,NoRain,NoRain
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,NoRain,NoRain
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,NoRain,NoRain
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,NoRain,NoRain
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,NoRain,NoRain

In [73]:
# other sloution
# mapping = {'No': 'NoRain', 'Yes': 'Rain'}
# df[['raintoday','raintomorrow']] = df[['raintoday','raintomorrow']].applymap(lambda s: mapping.get(s) if s in mapping else s)

10. Change the datatype of the "date" column to datetime64 and reformat the date as DD/MM/YYYY.
Hint: use `to_datetime` and `strftime`.

In [80]:
# YOUR CODE HERE
df['Date'] = pd.to_datetime(df['Date'])
df['Date'] = df['Date'].dt.strftime('%d/%m/%Y')
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,01/12/2008,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,02/12/2008,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,03/12/2008,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,04/12/2008,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,05/12/2008,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

11. Create a new column with the difference between the maxtemp and mintemp columns for each row. Call this column tempdiff.

In [ ]:
# YOUR CODE HERE
df['tempdiff']= (df['maxtemp'] - df['mintemp'])
# check if the new column exists
df.shape

(145460, 24)

In [ ]:
# check if the new column exists
"tempdiff" in df.columns

True

12. Remove the evaporation and sunshine columns from the dataframe.

In [84]:
# YOUR CODE HERE
DfTwo = df.copy()
DfTwo.drop(columns=["Evaporation", "Sunshine"], inplace=True)
# check that the column is removed
DfTwo.shape

(145460, 21)

13. Find the most rainy day for each city

In [92]:
# YOUR CODE HERE
df = df.sort_values(by=['Location','Rainfall'], ascending=[True,False])
df = df.drop_duplicates(subset='Location')
df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
98285,14/02/2014,Adelaide,20.6,24.5,75.2,NaN,0.0,NE,26.0,NE,...,93.0,86.0,1003.2,998.8,NaN,NaN,22.0,23.2,Yes,Yes
109820,02/06/2012,Albany,13.0,20.7,49.4,NaN,7.5,NaN,NaN,ENE,...,84.0,55.0,1022.3,1021.3,7.0,5.0,15.8,19.9,Yes,No
1156,01/03/2012,Albury,17.1,20.9,104.2,NaN,NaN,SE,57.0,N,...,97.0,88.0,1002.0,1001.9,8.0,8.0,19.5,18.5,Yes,Yes
136525,28/02/2010,AliceSprings,18.8,19.8,62.0,3.4,0.0,SE,61.0,SE,...,96.0,95.0,1004.8,1003.2,8.0,8.0,18.9,19.3,Yes,Yes
4468,29/01/2013,BadgerysCreek,18.3,28.1,116.0,NaN,NaN,WSW,37.0,W,...,89.0,75.0,1001.5,1004.4,NaN,NaN,22.3,24.9,Yes,No
55876,14/01/2011,Ballarat,15.8,25.5,95.0,NaN,NaN,NaN,NaN,WSW,...,100.0,69.0,1002.7,NaN,8.0,NaN,16.0,23.5,Yes,NaN
58938,05/02/2011,Bendigo,20.7,21.3,66.4,9.0,NaN,N,50.0,W,...,95.0,94.0,1006.1,1007.0,8.0,8.0,21.2,17.3,Yes,Yes
86414,02/05/2015,Brisbane,16.6,24.9,182.6,1.6,9.5,SSW,19.0,WNW,...,71.0,58.0,1013.0,1010.0,1.0,1.0,19.8,24.4,Yes,No
87242,12/01/2009,Cairns,22.3,27.4,278.4,NaN,0.0,NW,59.0,SSE,...,96.0,98.0,1003.5,999.6,8.0,8.0,24.7,25.3,Yes,Yes
46715,03/12/2010,Canberra,13.4,22.4,87.0,NaN,3.1,W,39.0,S,...,88.0,76.0,1017.4,1014.5,7.0,7.0,16.1,20.1,Yes,Yes
7832,16/02/2014,Cobar,21.4,28.6,68.0,NaN,NaN,SW,44.0,S,...,97.0,62.0,1002.6,1003.0,8.0,6.0,21.6,26.3,Yes,Yes
9368,07/11/2009,CoffsHarbour,17.4,23.1,371.0,NaN,3.5,NaN,NaN,SW,...,93.0,81.0,1026.6,1025.9,8.0,5.0,18.6,22.0,Yes,Yes
81741,14/01/2011,Dartmoor,16.2,24.4,73.6,NaN,8.2,W,44.0,NNW,...,99.0,64.0,1003.1,1003.8,NaN,NaN,17.4,23.2,Yes,No
140071,16/02/2011,Darwin,22.1,25.6,367.6,NaN,0.0,WSW,83.0,SSE,...,98.0,98.0,996.3,996.0,8.0,8.0,24.3,23.5,Yes,Yes
91455,29/04/2012,GoldCoast,17.2,24.4,183.4,NaN,NaN,S,56.0,S,...,74.0,67.0,1014.2,1015.0,NaN,NaN,22.0,21.9,Yes,No
132137,14/01/2015,Hobart,17.0,19.3,71.6,NaN,0.0,SSW,61.0,SSE,...,97.0,90.0,991.9,991.2,7.0,8.0,18.4,17.9,Yes,Yes
143335,27/12/2015,Katherine,22.5,26.5,167.0,NaN,NaN,W,52.0,WSW,...,91.0,NaN,1003.6,1002.9,8.0,NaN,25.0,NaN,Yes,Yes
135557,29/01/2016,Launceston,17.2,23.6,88.0,NaN,NaN,SE,46.0,SSE,...,89.0,89.0,NaN,NaN,8.0,8.0,19.9,20.2,Yes,Yes
68151,07/02/2011,Melbourne,10.8,21.5,82.2,4.6,12.7,S,37.0,WSW,...,57.0,45.0,1026.0,1024.2,3.0,1.0,15.0,20.2,Yes,Yes
65714,01/06/2013,MelbourneAirport,12.8,15.1,75.8,8.0,0.0,S,31.0,N,...,97.0,90.0,1013.1,1011.1,8.0,7.0,13.2,14.9,Yes,Yes
71158,05/02/2011,Mildura,22.9,23.2,155.0,NaN,1.6,N,28.0,WNW,...,98.0,97.0,1009.1,1009.4,8.0,8.0,23.2,19.4,Yes,Yes
13096,26/11/2011,Moree,19.5,27.5,113.0,12.1,8.5,NW,39.0,WNW,...,94.0,58.0,1012.1,1009.4,7.0,6.0,21.5,26.0,Yes,No
100287,14/01/2011,MountGambier,15.8,23.1,84.6,NaN,8.2,W,41.0,NNW,...,98.0,67.0,1003.5,1004.7,8.0,4.0,16.9,21.8,Yes,No
53221,04/03/2012,MountGinini,5.8,14.8,107.6,NaN,NaN,N,72.0,NNW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Yes
17321,23/04/2015,Newcastle,NaN,21.7,240.0,NaN,NaN,NaN,NaN,NW,...,72.0,62.0,NaN,NaN,6.0,6.0,17.5,21.0,Yes,No
73505,12/06/2013,Nhil,10.1,11.9,65.6,NaN,NaN,SE,54.0,SE,...,92.0,91.0,1010.3,1008.2,NaN,NaN,10.8,10.9,Yes,Yes
19661,24/06/2013,NorahHead,10.2,15.6,126.4,NaN,NaN,SE,46.0,SSW,...,90.0,76.0,1022.1,1017.5,NaN,NaN,10.7,14.2,Yes,No
23667,22/03/2016,NorfolkIsland,19.5,25.5,156.8,NaN,NaN,NE,31.0,NW,...,89.0,79.0,1005.6,1004.5,6.0,6.0,23.8,24.9,Yes,No
103259,08/12/2010,Nuriootpa,16.1,22.0,76.6,NaN,6.8,WSW,44.0,W,...,95.0,64.0,1005.0,1005.6,8.0,7.0,16.2,20.5,Yes,No
115660,07/12/2011,PearceRAAF,17.6,28.3,62.4,NaN,8.1,SSW,39.0,NE,...,57.0,50.0,1003.1,1001.1,4.0,5.0,22.8,25.3,Yes,No
25263,10/02/2012,Penrith,18.4,26.4,115.4,NaN,NaN,S,26.0,E,...,99.0,81.0,NaN,NaN,NaN,NaN,19.7,23.2,Yes,No
123695,10/02/2017,Perth,14.8,22.4,114.4,14.4,0.0,SE,41.0,SE,...,92.0,94.0,1007.5,1007.2,8.0,8.0,16.5,19.3,Yes,Yes
118185,11/07/2010,PerthAirport,9.7,19.0,76.6,1.0,5.4,NW,63.0,N,...,94.0,60.0,1015.2,1010.9,7.0,7.0,12.2,18.3,Yes,No
75723,14/01/2011,Portland,15.6,20.6,72.0,NaN,8.2,NW,52.0,WNW,...,96.0,79.0,1002.3,1004.1,8.0,6.0,16.8,19.8,Yes,No
29379,21/04/2015,Richmond,12.6,16.1,113.4,NaN,NaN,SSW,50.0,SSW,...,95.0,88.0,1020.1,1018.6,8.0,7.0,13.4,13.5,Yes,Yes
63259,07/12/2014,Sale,13.8,19.1,55.6,NaN,NaN,S,63.0,S,...,99.0,91.0,1008.7,1002.5,8.0,6.0,13.9,17.7,Yes,Yes
125255,02/03/2013,SalmonGums,15.0,21.1,55.4,NaN,NaN,SE,39.0,ESE,...,94.0,80.0,NaN,NaN,NaN,NaN,17.6,20.4,Yes,No
32723,21/04/2015,Sydney,14.5,17.7,119.4,NaN,0.0,SSE,87.0,SSE,...,87.0,96.0,1019.6,1016.8,8.0,8.0,14.9,14.6,Yes,Yes
35544,15/10/2014,SydneyAirport,9.9,16.4,106.8,NaN,0.1,SSW,102.0,SW,...,79.0,54.0,1011.9,1013.5,8.0,7.0,12.0,14.8,Yes,No
93344,03/02/2009,Townsville,22.8,25.4,236.8,NaN,0.0,ESE,48.0,ESE,...,98.0,95.0,1003.8,1000.6,8.0,8.0,23.8,25.0,Yes,Yes
49761,09/12/2010,Tuggeranong,18.5,26.9,93.0,NaN,NaN,N,31.0,N,...,89.0,65.0,1009.0,1007.1,NaN,NaN,20.9,25.4,Yes,Yes
145278,26/12/2016,Uluru,22.1,27.4,83.8,NaN,NaN,ENE,72.0,N,...,100.0,100.0,994.6,989.2,8.0,8.0,22.2,24.2,Yes,Yes
36960,08/03/2010,WaggaWagga,18.8,25.6,110.8,NaN,10.7,NW,52.0,ENE,...,69.0,41.0,1009.2,1008.6,3.0,4.0,20.4,25.2,Yes,No
128046,01/06/2012,Walpole,12.4,14.6,93.2,NaN,NaN,SE,59.0,SE,...,86.0,93.0,1022.9,1022.5,NaN,NaN,14.1,13.6,Yes,Yes
79512,01/06/2013,Watsonia,13.1,14.7,87.4,8.0,0.0,S,22.0,NaN,...,NaN,100.0,1013.4,1010.9,8.0,7.0,NaN,14.4,Yes,Yes
42010,06/01/2016,Williamtown,18.5,19.9,225.0,NaN,0.0,S,80.0,SSW,...,95.0,90.0,1008.5,1008.8,8.0,8.0,19.2,19.4,Yes,Yes
113178,15/07/2013,Witchcliffe,15.7,18.3,99.4,NaN,NaN,NW,48.0,NW,...,99.0,73.0,1012.0,1011.1,NaN,NaN,15.8,17.7,Yes,Yes
44916,25/08/2015,Wollongong,12.2,15.9,192.0,NaN,NaN,SE,87.0,SW,...,88.0,83.0,1012.5,1012.1,8.0,8.0,13.6,13.5,Yes,Yes
107673,10/01/2015,Woomera,18.0,24.0,66.4,NaN,0.0,SSE,50.0,S,...,94.0,73.0,1004.7,1003.3,8.0,8.0,18.6,23.2,Yes,No

In [107]:
df[['Date','Location' ,'Rainfall']].sort_values('Rainfall', ignore_index=True)

          Date          Location  Rainfall
0   02/06/2012            Albany      49.4
1   02/03/2013        SalmonGums      55.4
2   07/12/2014              Sale      55.6
3   28/02/2010      AliceSprings      62.0
4   07/12/2011        PearceRAAF      62.4
5   12/06/2013              Nhil      65.6
6   10/01/2015           Woomera      66.4
7   05/02/2011           Bendigo      66.4
8   16/02/2014             Cobar      68.0
9   14/01/2015            Hobart      71.6
10  14/01/2011          Portland      72.0
11  14/01/2011          Dartmoor      73.6
12  14/02/2014          Adelaide      75.2
13  01/06/2013  MelbourneAirport      75.8
14  08/12/2010         Nuriootpa      76.6
15  11/07/2010      PerthAirport      76.6
16  07/02/2011         Melbourne      82.2
17  26/12/2016             Uluru      83.8
18  14/01/2011      MountGambier      84.6
19  03/12/2010          Canberra      87.0
20  01/06/2013          Watsonia      87.4
21  29/01/2016        Launceston      88.0
22  09/12/2010       Tuggeranong      93.0
23  01/06/2012           Walpole      93.2
24  14/01/2011          Ballarat      95.0
25  15/07/2013       Witchcliffe      99.4
26  01/03/2012            Albury     104.2
27  15/10/2014     SydneyAirport     106.8
28  04/03/2012       MountGinini     107.6
29  08/03/2010        WaggaWagga     110.8
30  26/11/2011             Moree     113.0
31  21/04/2015          Richmond     113.4
32  10/02/2017             Perth     114.4
33  10/02/2012           Penrith     115.4
34  29/01/2013     BadgerysCreek     116.0
35  21/04/2015            Sydney     119.4
36  24/06/2013         NorahHead     126.4
37  05/02/2011           Mildura     155.0
38  22/03/2016     NorfolkIsland     156.8
39  27/12/2015         Katherine     167.0
40  02/05/2015          Brisbane     182.6
41  29/04/2012         GoldCoast     183.4
42  25/08/2015        Wollongong     192.0
43  06/01/2016       Williamtown     225.0
44  03/02/2009        Townsville     236.8
45  23/04/2015         Newcastle     240.0
46  12/01/2009            Cairns     278.4
47  16/02/2011            Darwin     367.6
48  07/11/2009      CoffsHarbour     371.0

14. Filter out all data for the city Albury and then sort the resulting dataframe in ascending order based on the maxtemp column

In [113]:
# YOUR CODE HERE
df = df.query("Location != 'Albury'")
df = df.sort_values(by='MaxTemp', ascending=True)
df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
73505,12/06/2013,Nhil,10.1,11.9,65.6,NaN,NaN,SE,54.0,SE,...,92.0,91.0,1010.3,1008.2,NaN,NaN,10.8,10.9,Yes,Yes
128046,01/06/2012,Walpole,12.4,14.6,93.2,NaN,NaN,SE,59.0,SE,...,86.0,93.0,1022.9,1022.5,NaN,NaN,14.1,13.6,Yes,Yes
79512,01/06/2013,Watsonia,13.1,14.7,87.4,8.0,0.0,S,22.0,NaN,...,NaN,100.0,1013.4,1010.9,8.0,7.0,NaN,14.4,Yes,Yes
53221,04/03/2012,MountGinini,5.8,14.8,107.6,NaN,NaN,N,72.0,NNW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Yes
65714,01/06/2013,MelbourneAirport,12.8,15.1,75.8,8.0,0.0,S,31.0,N,...,97.0,90.0,1013.1,1011.1,8.0,7.0,13.2,14.9,Yes,Yes
19661,24/06/2013,NorahHead,10.2,15.6,126.4,NaN,NaN,SE,46.0,SSW,...,90.0,76.0,1022.1,1017.5,NaN,NaN,10.7,14.2,Yes,No
44916,25/08/2015,Wollongong,12.2,15.9,192.0,NaN,NaN,SE,87.0,SW,...,88.0,83.0,1012.5,1012.1,8.0,8.0,13.6,13.5,Yes,Yes
29379,21/04/2015,Richmond,12.6,16.1,113.4,NaN,NaN,SSW,50.0,SSW,...,95.0,88.0,1020.1,1018.6,8.0,7.0,13.4,13.5,Yes,Yes
35544,15/10/2014,SydneyAirport,9.9,16.4,106.8,NaN,0.1,SSW,102.0,SW,...,79.0,54.0,1011.9,1013.5,8.0,7.0,12.0,14.8,Yes,No
32723,21/04/2015,Sydney,14.5,17.7,119.4,NaN,0.0,SSE,87.0,SSE,...,87.0,96.0,1019.6,1016.8,8.0,8.0,14.9,14.6,Yes,Yes
113178,15/07/2013,Witchcliffe,15.7,18.3,99.4,NaN,NaN,NW,48.0,NW,...,99.0,73.0,1012.0,1011.1,NaN,NaN,15.8,17.7,Yes,Yes
118185,11/07/2010,PerthAirport,9.7,19.0,76.6,1.0,5.4,NW,63.0,N,...,94.0,60.0,1015.2,1010.9,7.0,7.0,12.2,18.3,Yes,No
63259,07/12/2014,Sale,13.8,19.1,55.6,NaN,NaN,S,63.0,S,...,99.0,91.0,1008.7,1002.5,8.0,6.0,13.9,17.7,Yes,Yes
132137,14/01/2015,Hobart,17.0,19.3,71.6,NaN,0.0,SSW,61.0,SSE,...,97.0,90.0,991.9,991.2,7.0,8.0,18.4,17.9,Yes,Yes
136525,28/02/2010,AliceSprings,18.8,19.8,62.0,3.4,0.0,SE,61.0,SE,...,96.0,95.0,1004.8,1003.2,8.0,8.0,18.9,19.3,Yes,Yes
42010,06/01/2016,Williamtown,18.5,19.9,225.0,NaN,0.0,S,80.0,SSW,...,95.0,90.0,1008.5,1008.8,8.0,8.0,19.2,19.4,Yes,Yes
75723,14/01/2011,Portland,15.6,20.6,72.0,NaN,8.2,NW,52.0,WNW,...,96.0,79.0,1002.3,1004.1,8.0,6.0,16.8,19.8,Yes,No
109820,02/06/2012,Albany,13.0,20.7,49.4,NaN,7.5,NaN,NaN,ENE,...,84.0,55.0,1022.3,1021.3,7.0,5.0,15.8,19.9,Yes,No
125255,02/03/2013,SalmonGums,15.0,21.1,55.4,NaN,NaN,SE,39.0,ESE,...,94.0,80.0,NaN,NaN,NaN,NaN,17.6,20.4,Yes,No
58938,05/02/2011,Bendigo,20.7,21.3,66.4,9.0,NaN,N,50.0,W,...,95.0,94.0,1006.1,1007.0,8.0,8.0,21.2,17.3,Yes,Yes
68151,07/02/2011,Melbourne,10.8,21.5,82.2,4.6,12.7,S,37.0,WSW,...,57.0,45.0,1026.0,1024.2,3.0,1.0,15.0,20.2,Yes,Yes
17321,23/04/2015,Newcastle,NaN,21.7,240.0,NaN,NaN,NaN,NaN,NW,...,72.0,62.0,NaN,NaN,6.0,6.0,17.5,21.0,Yes,No
103259,08/12/2010,Nuriootpa,16.1,22.0,76.6,NaN,6.8,WSW,44.0,W,...,95.0,64.0,1005.0,1005.6,8.0,7.0,16.2,20.5,Yes,No
123695,10/02/2017,Perth,14.8,22.4,114.4,14.4,0.0,SE,41.0,SE,...,92.0,94.0,1007.5,1007.2,8.0,8.0,16.5,19.3,Yes,Yes
46715,03/12/2010,Canberra,13.4,22.4,87.0,NaN,3.1,W,39.0,S,...,88.0,76.0,1017.4,1014.5,7.0,7.0,16.1,20.1,Yes,Yes
9368,07/11/2009,CoffsHarbour,17.4,23.1,371.0,NaN,3.5,NaN,NaN,SW,...,93.0,81.0,1026.6,1025.9,8.0,5.0,18.6,22.0,Yes,Yes
100287,14/01/2011,MountGambier,15.8,23.1,84.6,NaN,8.2,W,41.0,NNW,...,98.0,67.0,1003.5,1004.7,8.0,4.0,16.9,21.8,Yes,No
71158,05/02/2011,Mildura,22.9,23.2,155.0,NaN,1.6,N,28.0,WNW,...,98.0,97.0,1009.1,1009.4,8.0,8.0,23.2,19.4,Yes,Yes
135557,29/01/2016,Launceston,17.2,23.6,88.0,NaN,NaN,SE,46.0,SSE,...,89.0,89.0,NaN,NaN,8.0,8.0,19.9,20.2,Yes,Yes
107673,10/01/2015,Woomera,18.0,24.0,66.4,NaN,0.0,SSE,50.0,S,...,94.0,73.0,1004.7,1003.3,8.0,8.0,18.6,23.2,Yes,No
81741,14/01/2011,Dartmoor,16.2,24.4,73.6,NaN,8.2,W,44.0,NNW,...,99.0,64.0,1003.1,1003.8,NaN,NaN,17.4,23.2,Yes,No
91455,29/04/2012,GoldCoast,17.2,24.4,183.4,NaN,NaN,S,56.0,S,...,74.0,67.0,1014.2,1015.0,NaN,NaN,22.0,21.9,Yes,No
98285,14/02/2014,Adelaide,20.6,24.5,75.2,NaN,0.0,NE,26.0,NE,...,93.0,86.0,1003.2,998.8,NaN,NaN,22.0,23.2,Yes,Yes
86414,02/05/2015,Brisbane,16.6,24.9,182.6,1.6,9.5,SSW,19.0,WNW,...,71.0,58.0,1013.0,1010.0,1.0,1.0,19.8,24.4,Yes,No
93344,03/02/2009,Townsville,22.8,25.4,236.8,NaN,0.0,ESE,48.0,ESE,...,98.0,95.0,1003.8,1000.6,8.0,8.0,23.8,25.0,Yes,Yes
55876,14/01/2011,Ballarat,15.8,25.5,95.0,NaN,NaN,NaN,NaN,WSW,...,100.0,69.0,1002.7,NaN,8.0,NaN,16.0,23.5,Yes,NaN
23667,22/03/2016,NorfolkIsland,19.5,25.5,156.8,NaN,NaN,NE,31.0,NW,...,89.0,79.0,1005.6,1004.5,6.0,6.0,23.8,24.9,Yes,No
140071,16/02/2011,Darwin,22.1,25.6,367.6,NaN,0.0,WSW,83.0,SSE,...,98.0,98.0,996.3,996.0,8.0,8.0,24.3,23.5,Yes,Yes
36960,08/03/2010,WaggaWagga,18.8,25.6,110.8,NaN,10.7,NW,52.0,ENE,...,69.0,41.0,1009.2,1008.6,3.0,4.0,20.4,25.2,Yes,No
25263,10/02/2012,Penrith,18.4,26.4,115.4,NaN,NaN,S,26.0,E,...,99.0,81.0,NaN,NaN,NaN,NaN,19.7,23.2,Yes,No
143335,27/12/2015,Katherine,22.5,26.5,167.0,NaN,NaN,W,52.0,WSW,...,91.0,NaN,1003.6,1002.9,8.0,NaN,25.0,NaN,Yes,Yes
49761,09/12/2010,Tuggeranong,18.5,26.9,93.0,NaN,NaN,N,31.0,N,...,89.0,65.0,1009.0,1007.1,NaN,NaN,20.9,25.4,Yes,Yes
145278,26/12/2016,Uluru,22.1,27.4,83.8,NaN,NaN,ENE,72.0,N,...,100.0,100.0,994.6,989.2,8.0,8.0,22.2,24.2,Yes,Yes
87242,12/01/2009,Cairns,22.3,27.4,278.4,NaN,0.0,NW,59.0,SSE,...,96.0,98.0,1003.5,999.6,8.0,8.0,24.7,25.3,Yes,Yes
13096,26/11/2011,Moree,19.5,27.5,113.0,12.1,8.5,NW,39.0,WNW,...,94.0,58.0,1012.1,1009.4,7.0,6.0,21.5,26.0,Yes,No
4468,29/01/2013,BadgerysCreek,18.3,28.1,116.0,NaN,NaN,WSW,37.0,W,...,89.0,75.0,1001.5,1004.4,NaN,NaN,22.3,24.9,Yes,No
115660,07/12/2011,PearceRAAF,17.6,28.3,62.4,NaN,8.1,SSW,39.0,NE,...,57.0,50.0,1003.1,1001.1,4.0,5.0,22.8,25.3,Yes,No
7832,16/02/2014,Cobar,21.4,28.6,68.0,NaN,NaN,SW,44.0,S,...,97.0,62.0,1002.6,1003.0,8.0,6.0,21.6,26.3,Yes,Yes

15. Remove all rows with missing values in the windgustdir column

In [118]:
# YOUR CODE HERE
df = df.dropna(subset=['WindGustDir'])
# last row 59 was nan therefor to check if it's deleted :
df[['WindGustDir']].tail()

       WindGustDir
145454           E
145455           E
145456         NNW
145457           N
145458          SE

16. Find the hottest day of "Perth"

In [128]:
# YOUR CODE HERE
df = df.query("Location == 'Perth'")
df = df.sort_values(by='MaxTemp', ascending=True)
df[['Date','Location', 'MaxTemp']].max()

Date        2017-06-25
Location         Perth
MaxTemp           44.4
dtype: object

In [138]:

Perth_hottest_day = pd.DataFrame(df[['Date','Location', 'MaxTemp']].max())
Perth_hottest_day

                   0
Date      2017-06-25
Location       Perth
MaxTemp         44.4

17. Group your dataframe by location and find the average of all numerical columns per location.

In [141]:
# YOUR CODE HERE
df = pd.read_csv('D:\codes\Class7-DataManipulation-Module-Week18\weatherAUS.csv\weatherAUS.csv')
df_mean = df.groupby('Location').mean(numeric_only=True)
df_mean

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
Location,,,,,,,,,,,,,,,,
Adelaide,12.579505,22.898934,1.566354,5.770364,7.747993,36.499211,9.950125,15.471455,59.701066,44.828105,1018.764082,1016.803264,NaN,NaN,16.929046,21.557447
Albany,12.948438,20.070998,2.263859,4.213345,6.657460,NaN,12.503189,18.993498,74.805416,67.407917,1018.275721,1016.497280,5.191539,4.808072,16.236455,18.411555
Albury,9.530604,22.640872,1.914115,NaN,NaN,32.977394,8.211151,14.382965,74.070604,47.869393,1018.369621,1015.760752,6.391001,5.406447,14.361135,21.373780
AliceSprings,13.142284,29.248420,0.882850,9.026832,9.581944,40.531281,14.727452,18.101053,39.690155,24.131466,1016.684732,1012.871913,2.845898,3.251213,21.335658,28.010764
BadgerysCreek,11.131719,24.031208,2.193101,NaN,NaN,33.600409,8.051351,14.005404,76.895770,51.381855,1018.461598,1015.635120,NaN,NaN,16.571698,22.522698
Ballarat,7.367950,18.287266,1.740026,NaN,NaN,44.982719,19.976913,22.766798,81.817820,59.030992,1017.845093,1016.271201,5.797915,6.285643,11.672457,16.788365
Bendigo,8.593713,21.621746,1.619380,3.851730,NaN,38.850000,12.936100,17.159091,70.545664,46.474325,1018.026281,1015.873135,4.400097,4.855379,13.845275,20.249737
Brisbane,16.423807,26.448380,3.144891,5.407940,8.081170,28.212881,6.944236,10.998744,64.043587,53.912209,1018.232989,1015.099278,3.918546,3.879975,21.841173,24.753461
Cairns,21.220467,29.558849,5.742035,6.256891,7.571451,38.031436,15.902929,21.911813,69.936821,61.751645,1014.151333,1011.099441,4.560184,4.445196,25.820105,27.909112
Canberra,6.821866,20.976639,1.741720,4.399672,7.402038,40.064214,10.407546,19.127918,73.218500,45.825350,1018.986480,1016.236299,4.870981,4.784630,12.677297,19.472878
Cobar,13.149451,25.870093,1.127309,6.744861,8.674364,36.750590,14.655749,15.144478,55.152913,33.870666,1017.971937,1015.304325,3.303918,3.859682,18.119160,24.545203
CoffsHarbour,14.437108,23.965385,5.061497,3.905154,7.358367,39.227925,15.280870,21.201916,67.938127,62.351858,1018.215308,1015.829292,4.326958,4.501121,20.170942,22.343873
Dartmoor,8.620034,19.697454,2.146567,3.424808,6.502065,38.898299,10.822970,17.946010,85.217907,62.456537,1018.002479,1016.509885,NaN,NaN,12.588893,18.182139
Darwin,23.209305,32.540977,5.092452,6.318668,8.499310,40.582355,15.009088,20.831401,68.486216,51.827954,1011.888784,1008.349107,4.337093,4.310345,27.185625,31.082733
GoldCoast,17.363286,25.767062,3.769396,NaN,NaN,42.476370,19.349667,25.861416,66.327495,62.980515,1017.922113,1015.214643,NaN,NaN,22.375847,23.771603
Hobart,9.078578,17.865727,1.601819,3.601538,6.580151,47.530915,16.307861,19.813225,65.622055,52.944654,1014.531297,1012.961873,4.839901,4.959012,12.462406,16.172955
Katherine,20.553564,34.935436,3.201090,7.327003,NaN,38.771465,12.134432,15.772901,63.790247,42.761456,1012.791122,1008.486078,2.579701,3.186183,26.649544,33.546604
Launceston,7.836190,18.954911,2.011988,6.166667,NaN,35.634852,8.447117,15.562892,79.500000,57.322442,1015.679279,1013.754213,6.306207,5.718329,12.026269,17.687294
Melbourne,11.779174,20.769358,1.870062,4.650282,6.385307,45.610255,19.128800,22.097401,67.545555,51.180710,1017.634427,1015.778450,5.314034,5.336368,14.596091,19.264489
MelbourneAirport,9.973945,20.491858,1.451977,4.644378,6.381283,46.919172,20.278923,23.081422,70.115961,51.171333,1018.087670,1016.279096,5.246261,5.263298,14.124925,18.952077
Mildura,10.731572,24.840944,0.945062,5.936757,8.468533,37.168775,14.001663,16.694814,64.103792,35.402329,1018.771481,1016.262654,3.382906,3.918909,15.528291,23.427726
Moree,12.905853,26.950548,1.630203,7.624956,8.898589,39.890177,18.129043,16.847372,61.376705,35.808589,1018.312429,1014.928624,3.365844,3.981958,18.867132,25.651113
MountGambier,8.825477,19.828995,2.087562,3.437072,6.511167,42.866466,17.528868,22.433993,75.492734,57.329043,1017.937656,1016.375848,5.520478,5.478840,13.784858,18.176277
MountGinini,3.577280,11.663676,3.292260,NaN,NaN,46.253951,15.991844,15.232377,77.146697,69.722609,NaN,NaN,NaN,NaN,6.815185,10.209180
Newcastle,13.760007,24.101070,3.183892,NaN,NaN,NaN,5.978448,10.614354,74.061429,57.362684,NaN,NaN,4.128306,4.311491,18.119251,22.325534
Nhil,8.999809,22.405153,0.934863,NaN,NaN,42.542438,16.457088,20.948506,73.042594,44.919263,1018.537063,1016.395868,NaN,NaN,13.382708,20.871837
NorahHead,15.355481,22.588937,3.387299,NaN,NaN,42.183051,13.930837,21.027937,74.590756,67.521198,1018.258148,1016.013331,NaN,NaN,18.467611,20.764211
NorfolkIsland,16.871875,21.830253,3.127665,4.742703,7.021751,42.607420,20.173609,21.890921,70.781292,67.836714,1017.597501,1015.856801,5.021067,4.849729,19.783822,20.470070
Nuriootpa,9.363242,21.704133,1.390343,5.082404,7.672577,40.672269,14.242891,18.171304,66.760253,45.425567,1018.910959,1016.790003,4.679389,4.877679,14.852064,20.305663
PearceRAAF,12.303850,26.051238,1.669080,NaN,8.795306,43.579958,16.029107,20.297352,60.823352,42.079142,1017.635609,1015.096075,3.846389,4.031366,18.832230,24.497083
Penrith,12.577449,24.764366,2.175304,NaN,NaN,31.807330,6.357262,11.990391,75.822630,49.098990,NaN,NaN,NaN,NaN,16.984267,23.354091
Perth,12.922706,25.034837,1.906295,5.606579,8.784536,34.882999,10.693392,14.519737,62.688128,46.906122,1017.784398,1015.420457,3.383579,3.469740,18.573598,23.461748
PerthAirport,12.580359,25.533234,1.761648,5.662832,8.795306,44.201822,17.753575,21.268285,58.775673,41.923205,1017.890323,1015.366789,3.371467,3.444260,18.773480,24.086935
Portland,9.586867,18.055053,2.530374,3.424808,6.502065,42.059852,16.329564,20.787828,78.711149,65.991656,1017.684084,1016.624041,6.338082,6.066667,13.195745,16.504204
Richmond,11.364202,24.458664,2.138462,5.259236,NaN,34.866283,7.005732,14.849596,76.897627,49.000000,1018.696812,1015.640753,6.246281,5.510309,16.566015,23.128682
Sale,8.567420,20.282281,1.510167,3.830098,6.683663,42.479777,14.306489,22.265979,78.918729,56.353707,1017.815492,1015.889212,5.345907,5.094383,13.416628,18.782646
SalmonGums,9.313007,24.250827,1.034382,NaN,NaN,39.748372,16.298192,17.302286,62.806408,40.751771,NaN,NaN,NaN,NaN,17.046610,22.661518
Sydney,14.866826,23.001975,3.324543,5.189220,7.179567,41.757589,15.075347,19.324797,68.221989,54.694386,1018.343906,1016.018163,4.180115,4.218626,17.821923,21.533473
SydneyAirport,14.901729,23.383915,3.009917,5.253797,7.191346,47.234280,18.594145,25.769614,64.834719,53.904825,1018.361213,1015.972854,4.280532,4.278498,18.544880,21.780352
Townsville,20.417874,29.367160,3.485592,7.198949,8.457814,38.840570,15.227452,24.251728,63.954276,57.400987,1015.165493,1011.905691,4.300070,4.012667,25.634967,27.769934
Tuggeranong,7.242133,20.767545,2.164043,NaN,NaN,35.215883,7.653183,14.894667,72.827095,47.185724,1018.505622,1015.655680,NaN,NaN,12.573899,19.422472
Uluru,14.466688,30.383195,0.784363,NaN,NaN,41.268373,17.616732,17.028424,42.664107,24.127700,1017.101403,1013.307751,5.543103,4.834532,21.012348,29.054511
WaggaWagga,9.617182,23.031871,1.709946,5.178823,8.197864,36.648105,12.855766,16.218085,67.856953,42.586574,1018.510037,1015.859854,3.854989,4.194993,14.925457,21.749950
Walpole,11.806631,20.459184,2.906846,NaN,NaN,39.818836,13.915910,17.227410,76.119266,66.316022,1017.878811,1016.237047,NaN,NaN,15.926158,18.560134
Watsonia,10.131879,20.896078,1.860820,4.644378,6.381283,38.059219,9.910239,15.183843,78.383973,54.708873,1018.030229,1016.085045,5.246261,5.263298,13.766010,19.395181
Williamtown,12.780180,24.001065,3.591108,6.801387,7.153063,41.677801,16.474599,22.237921,71.773742,53.937708,1018.436370,1015.919746,4.700042,4.484322,18.079694,22.499435
Witchcliffe,10.775067,21.686247,2.895664,NaN,NaN,40.085013,13.966367,19.164616,71.364753,57.780180,1018.395130,1016.732974,NaN,NaN,16.542895,19.810376
Wollongong,14.939471,21.468174,3.594903,NaN,NaN,45.690842,16.618351,21.926270,67.661906,65.128571,1018.149331,1016.055809,6.222305,5.855328,18.190203,19.934872
Woomera,13.363727,26.596707,0.490405,10.141440,9.047932,44.156566,20.002662,20.605728,53.127503,28.402414,1018.632655,1015.969917,2.518027,2.891489,17.924701,25.201896